thead, tr {
	font-size: 100%;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	background: 0 0;
}
input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url(../images/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 105px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #512da8;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}
.search-block {
	margin: 20px auto;
}
.container {
	max-width: 1000px;
	min-width: 400px;
	display: block;
	margin: 0 auto;
}

#cars-list {
	font-size: 20px;
	text-align: left;
	border-collapse: collapse;
	margin: 0 auto;
}
.table-header th{
	font-weight: normal;
	font-size: 22px;
	color: #512da8;
	border-bottom: 1px solid #512da8;
	padding: 12px 17px;
	text-transform: uppercase;
	padding: 20px;
	font-family: 
}
#cars-list td {
  color: #555;
  padding: 20px;
}
.table-row:nth-child(even) {
	background-color:#e8edff;
	cursor: pointer;
}
.table-row:hover {
	background-color:#ecebef;
	cursor: pointer;
}