@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  font-family: 'Open Sans', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  width: 200px;
}

.App-header {
  background-color: #f7e026;
  height: 150px;
  padding: 20px;
  color: white;
}
.title-msg {
  color: #7e57c2;
}
